/* ======================================= */
/* ================ ROOTS ================ */

:root {
  --grey: rgb(37, 37, 37);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* ======================================= */
/* =============== GENERAL =============== */

body,
button,
textarea {
  background-color: #ffffff;
  font-family: TS-Reg, sans-serif;
}

.container {
  max-width: 1140px;
  /* border: 2px solid pink; */
  margin: 0 auto;
  padding: 0 20px;
}

.element {
  overflow: scroll; /* ou auto si tu veux que ça s'affiche seulement si besoin */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}

.element::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* ======================================= */
/* -------------- HEADER ----------------- */
/* ======================================= */

header {
  background-color: white;
  /* border: 1px solid red; */
  height: 70px;
  padding-top: 10px;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 500;
}

.border-bottom-grey {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.brand {
  cursor: pointer;
}

.brand img {
  height: 50px;
}

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.iconnav {
  font-size: 23px;
  padding: 0px;
}

.navdiv {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
}

.buttonnav {
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
}

.hiddenmobile {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* ======================================= */
/* --------------- MAIN ------------------ */
/* ======================================= */

/* ======================================= */
/* -------------- SECTION 1 -------------- */

.section1 {
  padding: 30px 0;
}

h1 {
  font-size: 54px;
  font-weight: bolder;
}

.red {
  color: #ff5d5d;
}

.ph1 {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.3;
}

/* ======================================= */
/* -------------- SECTION 2 -------------- */

.section2 {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  /* border: 2px solid green; */
}

.buttonmain {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  padding: 14px 20px;
  width: calc((100% - 50px) / 6);
  font-weight: bold;
  line-height: 1.2;
}

.pbuttonmain {
  margin-right: 10px;
}

.iconmainnav {
  font-size: 24px;
}

.hidden {
  display: none;
}

.buttonmain:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.imain {
  font-size: 20px;
}

/* ======================================= */
/* -------------- SECTION 3 -------------- */

.section3 {
  height: 435px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  overflow: hidden;
  padding: 20px 0;
  /* border: 2px solid blue; */
}

.divgauchesection3 {
  flex: 1.8;
  position: relative;
}

.divgauchesection3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttondivgauchesection3 {
  position: absolute;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  left: 20px;
  bottom: 20px;
  padding: 15px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.buttondivgauchesection3:hover {
  background-color: var(--grey);
}

.divdroitesection3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}

.divdroitesection3haut,
.divdroitesection3bas {
  flex: 1;
  min-height: 0;
}

.divdroitesection3haut img,
.divdroitesection3bas img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.divgauchesection3 img:hover,
.divdroitesection3haut img:hover,
.divdroitesection3bas img:hover {
  filter: grayscale(10%) brightness(90%);
  cursor: pointer;
}

/* ======================================= */
/* -------------- SECTION 4 -------------- */

.section4 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  /* border: 2px solid red; */
}

.div-left-section4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-section4 {
  font-size: 12px;
  background-color: none;
  border: none;
  cursor: pointer;
}

.link-section4:hover {
  color: var(--grey);
  text-decoration: underline;
}

.div-right-section4 {
  font-size: 12px;
}

.icon-section4 {
  font-size: 10px;
}

/* ======================================= */
/* -------------- SECTION 5 -------------- */

.section5 {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  /* border: 2px solid green; */
  overflow: hidden;
}

.divgauchesection5 {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  margin-bottom: 20px;
  /* border: 2px solid blue; */
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.psection5 {
  font-size: 20px;
  line-height: 1.2;
}

.divdroitesection5 {
  display: flex;
  flex-direction: column;
  width: 430px;
  border-radius: 20px;
  overflow: hidden;
  /* border: 2px solid blue; */
}

.divdroiterose {
  background-color: #ff5d5d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 300px;
  padding: 45px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
}

.ph3 {
  font-size: 16px;
  line-height: 1.2;
}

.buttonh3 {
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.buttonh3:hover {
  background-color: var(--grey);
}

.imgsection5 {
  height: 192px;
  /* border: 2px solid pink; */
}

.imgsection5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================================= */
/* -------------- SECTION 6 - 7 -------------- */

.section6 {
  padding: 30px 0;
  font-size: 28px;
  font-weight: bold;
}

.section7 {
  display: flex;
  /* border: 2px blue solid; */
  min-height: 340px;
  margin-bottom: 20px;
}

.div-left-section7 {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  flex: 1;
  gap: 20px;
  line-height: 1.3;
  padding-right: 50px;
  padding-bottom: 20px;
}

h5 {
  font-size: 24px;
  font-weight: bold;
}

.p-div-left-section7 {
  font-size: 18px;
}

.a-div-left-section7 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.div-right-section7 {
  display: flex;
  /* border: 2px solid orange; */
  flex: 3;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.div-scroll-section7 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* border: 2px solid red;*/
  width: 260px;
  justify-content: flex-start;
}

.div-img-scroll-section7 {
  display: flex;
  overflow: hidden;
  height: 180px;
  background-color: yellow;
  position: relative;
}

.div-img-scroll-section7 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-img:hover {
  cursor: pointer;
  filter: grayscale(10%) brightness(90%);
}

.div-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.div-heart:hover {
  cursor: pointer;
  background-color: lightgray;
}

.div-label {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 10px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}

.div-description-scroll-section7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: pink; */
  padding: 10px 5px;
  max-height: 110px;
}

h6 {
  font-size: 18px;
  font-weight: bold;
}

h6:hover {
  cursor: pointer;
  text-decoration: underline;
}

.div-rate {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.div-icon {
  display: flex;
  width: fit-content;
}

.dot-rate {
  color: #04aa6c;
  font-size: 14px;
}

.description {
  font-size: 14px;
  line-height: 1.2;
}

/* ======================================= */
/* -------------- SECTION 8 -------------- */

.section8 {
  display: flex;
  height: 430px;
  gap: 25px;
  margin-bottom: 100px;
  /* border: 2px solid blue; */
}

.div-section8 {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: green; */
}

.div-img-section8 {
  display: flex;
  height: 270px;
  /* background-color: yellow; */
  overflow: hidden;
}

.div-img-section8 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div-description-section8 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  max-height: 160px;
}

h7 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.p-section8 {
  font-size: 14px;
}

.div-brand {
  display: flex;
  height: 25px;
  align-items: center;
  gap: 10px;
}

.div-brand img {
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

/* ======================================= */
/* -------------- FOOTER ----------------- */
/* ======================================= */

.footer {
  background-color: #f7deca;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
  overflow: hidden;
}

.div-footer img {
  width: 40px;
}

.div-footer img:hover {
  rotate: 0.5turn;
}

/* ======================================= */
/* -------------- MODAL ------------------ */
/* ======================================= */

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
}

.display-none {
  display: none;
}

.disable-scroll {
  overflow: hidden;
}

.form-div {
  background-color: white;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.form-div > div {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.form-title {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.3;
}

.formulaire {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-class {
  width: 100%;
  border: none;
  border-bottom: #666 1px solid;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: black;
}

.input-class::placeholder {
  font-size: 16px;
  border: none;
  font-weight: bold;
  font-family: inherit;
  color: #666;
}

.input-class:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.submit {
  font-size: 16px;
  border: none;
  font-weight: bold;
  font-family: inherit;
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.submit:hover {
  background-color: var(--grey);
  cursor: pointer;
}

.cross {
  position: absolute;
  color: #666;
  top: 30px;
  right: 30px;
  font-size: 24px;
  font-weight: bold;
}

.cross:hover {
  color: black;
  cursor: pointer;
}

/* ======================================= */
/* -------------- TABLE ------------------ */
/* ======================================= */

.table-section3 {
  margin: 30px 0;
  /* border: 2px solid black; */
  min-height: 100px;
}

.div-filtre {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  margin: 20px 0;
  border-spacing: 5px 10px;
}

th,
td {
  /* border: red 2px solid; */
  padding: 12px;
  text-align: left;
  border-radius: 5px;
  width: 25%;
  word-wrap: break-word;
  white-space: normal;
}

td:last-child {
  text-align: center;
  vertical-align: middle;
}

thead {
  background-color: #f5f5f5ca;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* ligne grise claire */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* ligne blanche */
}

.form-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.div-form {
  display: flex;
  flex-wrap: wrap;
  /* border: red solid 2px; */
  width: 100%;
  flex: 1;
}

.input-table-style {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: inherit;
  background-color: white;
  margin: 5px;
  flex: 1;
}

.input-table-style:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button-form {
  max-width: 150px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.cell-france {
  background-color: #0055ff25; /* bleu clair */
  color: white;
}

.cell-espagne {
  background-color: #ffd70045; /* jaune doré */
}

.cell-italie {
  background-color: #00aa5040; /* vert clair */
}

.cell-allemagne {
  background-color: #ff000030; /* rouge clair */
}

/* ============================================================================ */
/* ---------------------------------- MEDIA ----------------------------------- */
/* ============================================================================ */

@media (max-width: 1184px) {
  .section2 {
    flex-wrap: wrap;
  }
  .buttonmain {
    width: calc((100% - 30px) / 4);
  }
  .hidden {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .disapear {
    display: none;
  }
  .section5 {
    flex-direction: column;
  }
  .divgauchesection5 {
    max-width: 100vw;
    padding-bottom: 20px;
  }
  .divdroitesection5 {
    flex-direction: row;
    width: 100vw;
    width: 100%;
    height: 300px;
  }
  .divdroiterose {
    height: 100%;
    flex: 1;
  }
  .imgsection5 {
    height: 100%;
    flex: 1;
  }
  .section8 {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }
  .div-section8 {
    flex: 0 0 auto;
    width: 60vw;
  }
  .div-label {
    max-height: 20px;
    max-width: 20px;
  }
}

@media (max-width: 768px) {
  .section2 {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .buttonmain {
    width: fit-content;
    flex-shrink: 0;
  }

  .disapearmobile {
    display: none;
  }

  .hiddenmobile {
    display: flex;
  }
  .brand img {
    height: 40px;
  }
  h1 {
    font-size: 32px;
  }
  .divdroitesection3 {
    display: none;
  }
  .section3 {
    margin-left: -20px;
    width: 100vw;
  }
  .divgauchesection3 {
    flex: 1;
  }
  .section4 {
    display: none;
  }
  .psection5 {
    font-size: 16px;
    line-height: 1.2;
  }
  .divdroitesection5 {
    flex-direction: column;
    height: 450px;
  }
  .section7 {
    flex-direction: column;
  }
  .div-scroll-section7 {
    width: calc(66.6667% - 20px);
  }
  .div-img-scroll-section7 {
    height: 300px;
  }
  .scroll {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .input-table-style {
    flex: 1 1 100%;
  }
}

@media print {
  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
